#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #333333;
    /* margin-top: 60px; */
}
* {
    padding:0;
    margin:0;
}
/* Navbar styling start */
.navbar {
    background-color: #fff;
    max-height: 60px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    /*border: solid black 1px;*/
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1120px;
    /*margin-left: 400px;*/
    /*margin-right: 400px;*/
    height: 60px;
}
.navbar-logo {
    height: 40px;
}

.navbar-logo-img {
    height: 40px;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}
.bar {
    width: 100%;
    height: 3px;
    background-color: #000;
    border-radius: 3px;
}
.navbar-menu {
    position: relative;
}
.menu-dropdown {
    position: absolute;
    top: 100%; /* Position the dropdown below the menu */
    right: 0; /* Align the dropdown to the right */
    width: 200px; /* Set a fixed width */
    background-color: #f9f9f9;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
    display: none; /* Hide the dropdown by default */
    border-radius: 20px;
}
.menu-dropdown.is-active {
    display: block; /* Show the dropdown when active */
}
.menu-dropdown .navbar-end {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    padding: 8px; /* Add padding for better spacing */
}
.menu-dropdown .navbar-end a {
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none; /* Remove underline */
    color: #000; /* Set color to black */
}
/* Navbar styling end */

/* Homepage styling start */
.homepage {
    text-align: center;
}

.title {
    margin-top: 36px; /* Adjust as needed */
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
}

.rectangle-container {
    display: flex;
    justify-content: center;
    margin-top: 36px; /* Adjust as needed */
}

.rectangle-item {
    position: relative;
    width: calc((1120px - 20px) / 3); /* Total width divided by 3 items minus the gutter width */
    height: 69px; /* Height of smaller items */
    background-color: #fff; /* White background */
    margin: 0 5px; /* Adjust gutter width */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 25px; /* Border radius */
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25); /* Drop shadow */
}
.dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    right: 22px; /* Adjust as needed */
}
.number {
    font-size: 1.2rem;
    position: absolute;
    left: 22px;
    color: #AAA;
}

.rectangle-list-container {
    display: flex;
    justify-content: center;
    margin-top: 36px; /* Adjust as needed */
}

.list-container {
    width: 1120px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
}

.rectangle-list {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-item {
    width: calc(100% - 20px);
    height: 69px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.list-divider {
    width: 1px; /* Adjust as needed */
    height: calc(100% - 40px); /* Adjust as needed */
    background-color: #DCDCDC;
    margin-top: 20px; /* Adjust as needed */
}
/* Homepage styling end */